* {
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 10vh;
}

.textContainer {
    display: flex;
    background: transparent;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: blue;
}