.card {
    width: 90vw;
    height: 60vh;
    background: rgb(42, 0, 28);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 2vh;
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 8vh;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg,#c20518, #b30000 );
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: rgb(1, 1, 1);
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  
  /* colors -> rgb(0, 183, 255)   rgb(255, 48, 255)   */
  @media screen and (max-width: 400px) {
    .card h2 {
      font-size: 4vh;
      position: relative;
      left : 20px /* The width is 100%, when the viewport is 400px or smaller */
    }
  }